# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Environment variables
.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log

# TypeScript
tsconfig.tsbuildinfo

# OS
.DS_Store
Thumbs.db
